html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(16, 17, 17, 0.582),
    rgba(16, 27, 41, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(16, 17, 17, 0.678),
    rgba(10, 17, 22, 0.863)
  );
  --imp-text-color: #70e7f0;
}

.sky {
  color: var(--imp-text-color);
}

.skillstack {
  color: var(--imp-text-color);
  font-size: 24px;
}

button:focus {
  box-shadow: none;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #1c2529;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #3681a3;
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 170, 216, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 214, 235, 0.911);
  border-radius: 12px;
}


.complete-navbar {
  display: flex;
  justify-content: space-between;
  transition: blue 0.3s ease;
}

.nav-item {
  margin-top: .5rem;
}

.navbar-scrolled {
  background-color:#cadee9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  opacity: .95; 
  transition: background-color 0.4s ease;
}

.scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}  

.nav-icons {
  margin-bottom: 2px;
}

.right-nav {
  gap: 1rem;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.nav-link {
  position: relative;
  color: #1295e0;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height:3px;
  background-color: #0051ff;
  bottom: 0;
  left: 0; 
  transform: translateX(0);
  transform-origin: bottom left;
  transition: width 0.2s ease-in-out;
  opacity: .9;
}

.nav-link:hover{
  cursor: pointer;
}

.nav-link:hover::after {
  width: 100%;
}

#tsparticles {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.home-header {
  margin-top: 4rem;
}

.home-section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.home-content {
  padding: 3rem 0 2rem;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
}

.heading {
  font-size: 2.4em;
  color: #0dc76a
}


.type{
  min-height: 35px;
}

.contact-info{
  margin-top: 6rem;
}

.main-name {
  color: #5faef8;
}

.Typewriter {
  max-height: 35px;
}

.Typewriter__wrapper {
  font-size: 2.2em;
  color: #f805f8;
  font-weight: 600;
}

.Typewriter__cursor {
  display: none;
}

.myAvtar {
  justify-content: center;
  margin-top: 6rem;
  padding-right: 0px;
  padding-left: 0px;
  flex: 1;
}

.img-fluid {
  max-width: 30rem;
}

.about-description {
  text-align: justify;
}

.home-about-description {
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  flex: 1;
  max-width: 600px;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em;
}

.home-about-social {
  padding-top: 25px;
  color: rgb(255, 255, 255)
}

.home-about-social-links {
  padding-top: 1rem;
  padding-inline-start: 0;
}

.home-social-icons {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  background: #fdfdfdf8;
  border-radius: 50%;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #367592;
  transition: 0.2s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #1f6a95;
}

.social-icons {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.icon-colour {
  color: #1f6a95;
}

.footer {
  background-color: rgba(50, 54, 58, 0.486);
  clip-path: polygon(5% 10%, 95% 10%, 100% 100%, 0% 100%);
  padding: 2rem;
}

.blockquote-footer {
  margin-top: 1rem;
  color: #88a7c0;
}

.about-content {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.about-text {
  flex: 1;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}

.project-cards-container, .work-experience-container{
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.project-section, .experience-section{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-image: var(--section-background-color);
}

.project-detail-header{
  background: #67a7c5;
}

.project-detail-title{
  color: #0c5688;
}

.project-details-body {
  background: #dfdfdf;
  border-radius: 0% 0% 0.5rem 0.5rem;
}

.product-detailed-description{
  text-align: center;
}



.project-card {
  max-width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 25px;
  padding-right: 25px;
  flex: 1 1 300px;
}

.card-img-top {
  padding: 20px;
  border-radius: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: #1f6a95;
  border-color: #1f6a95;
}

.btn-primary:hover {
  background-color: #1f6a95;
  border-color: #1f6a95;
}

.project-heading, .experience-heading{
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding: 1rem;
}

.about-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: var(--section-background-color);
  color: white;
}

.skill-icons {
  font-size: 4.5em;
  padding: 1rem;
  border: 1.7px solid rgba(137, 196, 230, 0.637);
  border-radius: 1rem;
  box-shadow: 4px 5px 4px 3px rgba(4, 135, 168, 0.137);
  transition: all 0.4s ease 0s;
}

.skill-icons:hover {
  transform: scale(1.05);
  border: 2.2px solid rgba(115, 184, 230, 0.883);
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
  padding-bottom: 3rem;
  margin: 0;
}

.purple{
  color:#885b88;
}

.quote-card-view {
  border: none;
  color: white;
  background-color: transparent;
}

.about-activity {
  list-style: none;
  text-align: left;
  color: #d117c2;
  padding-left: 2rem;
}

.resume-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 30px;
  background-image: var(--section-background-color);
  color: white;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.box-quote-container {
  margin-top: 4rem;
  padding: 1rem;
  border: 2px solid #337a9b;
  border-radius: 1rem; 
}

.box-quote {
  font-size: 1.2em;
  color: #badcf3;
}

.box-quote-author {
  display: block;
  margin-top: 10px;
  font-style: italic;
  color: #0ea9b4;
}

.project-card-view{
  box-shadow: 0 4px 5px 3px rgba(53, 110, 136, 0.459);
  color: white;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  height: 100%;
}

.project-card-view:hover{
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(72, 127, 144, 0.561);
}


.experiences{
display: flex;
justify-content: center;
}

.duration {
  font-style: italic;
  color: #d8bebe;
  font-size: .9rem
}

.responsibilities {
  margin: 10px 0 0 20px;
  padding: 15px;
  color: #abe1f0
}

.responsibilities-list {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  text-align: left;
}

.responsibilities-list li {
  display: flex;
  align-items: flex-start;
  vertical-align: top;
}

.responsibilities-list li::before {
  content: '>';
  color: #0056b3;
  margin-right: 0.5em;
  display: inline-block;
}


.position {
margin-bottom: 10px;
  color: #9f36a3;
}

a, .company-name {
  color: #00aeff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #0056b3; /* Change color on hover */
}


.experience-card {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px ;
  height: auto;
  flex: 1 1 300px;
}

.experience-card-view {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  box-shadow: 0 4px 5px 3px rgba(53, 110, 136, 0.459);
  border-radius: 1rem;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  height: 100%;
  font-size: 1.5rem; 
  width: 100%;
}

.experience-card-view:hover{
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(72, 127, 144, 0.561);
}

.company-details{
  margin: 10px;
  padding: 15px;
  flex: 1
}

.company-logo{
  background: #ffffff;
  width: 10rem;
  height: 5rem;
  border-radius: 30%; 
  margin: 2rem
}

@media (max-width: 768px) {
  .product-detailed-description{
    text-align: justify;
  }
  .home-content {
    flex-direction: column;
    align-items: center;
  }

  .home-header {
    order: 2;
    margin-top: 20px;
  }

  .home-header h4 {
    margin-top: 10px;
  }  
  .Typewriter__wrapper {
    font-size: 2.2em;
    font-weight: 500;
  }
  
  .myAvtar {
    margin-top: 1rem;
  }

  .about-img {
    padding-top: 0;
  }

  .about-activity {
    text-align: center;
    padding-left: 0;
  }

  .about-description {
    text-align: center;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .box-quote-container{
    margin-top: 1rem;
  }

  .skill-container {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  @media (max-width: 768px) {
    .skill-container {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }

  .experience-card-view {
    display: block;
  }
}

@media (max-width: 990px) {
  .heading{
    font-size: 1.5em;
  }

  .heading-name{
    font-size: 1.5em;
  }

  .type {
    font-size: .6rem;
  }

  .contact-info{
    margin-top: 1rem;
  }
}


@media (max-width: 1000px) {
  .img-fluid {
    max-width: 20rem;
  }
}